<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head-content') %>
    <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
    <meta name="author" content="John Doe">
    <meta name="publisher" content="John Doe">
    <meta name="copyright" content="John Doe">
    <meta name="description" content="This short description describes my website.">
    <meta name="page-topic" content="Media">
    <meta name="page-type" content="Blogging">
    <meta name="audience" content="Everyone">-->
</head>

<body>
<%- include('../partials/header') %>
<hr class='hidHr'>
<hr class='hidHr'>
<main class="col">
    
    <div class="gridx">
        <% blogs.forEach(blog => { %>
        <div class="flex col center centerAlign card gridItem col90">
            <img class='cardImage col100' src="<%= blog.image %>" alt="image"/>
            <a href="blogs/<%= blog.id %>"><h3><%= blog.title %></h3>
            <p><%= blog.createdAt.toLocaleDateString() %></p>
            <hr class='hidHr'><hr class='hidHr'>
            Read More</a>
            <hr class='hidHr'>
            <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                <button type="submit" class="item-button">Delete</button>
              </form>
            <hr class='hidHr'>
        </div>
        <% }) %>
        <% if (blogs.length === 0) { %>
            <div class="flex col center centerAlign">
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <h1>No blogs found</h1>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <form action="/blogs/new" method="GET">
                    <button type="submit">Publish Blog Article</button>
                </form>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
                <hr class='hidHr'>
            </div>
            <% } %>
            
        </div>
        <div class="flex col center centerAlign">
            <div class="flex col center centerAlign col20">
                <%// if (user) { %>
                    <button type="button" ><a href="/blogs/new" class="buttonLink ">Publish Blog Article</a></button>
                <%// } %>
            </div>
        </div>
        
        
    <hr class='hidHr'>
    <hr class='hidHr'>
    <hr class='hidHr'>
    <form class="flex row center centerAlign col100" action="#"> <!--TODO JWBN form-->
        <input type="search" placeholder="Email"/>
        <button type="submit">Newsletter Subscription</button>
    </form>
    <hr class='hidHr'>
    <hr class='hidHr'>
    <hr class='hidHr'>
    <hr class='hidHr'>

</main>

<hr class='hidHr'>
<%- include('../partials/footer') %>
</body>

</html>