<!DOCTYPE html>
<html lang="en">
<style>
    html {background: no-repeat center/100% url("<%=blog.image%>") !important;}
    .panel {background: no-repeat center/100% url("<%=blog.image%>") !important;}
</style>
<head>
    <%- include('../partials/head-content') %>
    <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
    <meta name="author" content="John Doe">
    <meta name="publisher" content="John Doe">
    <meta name="copyright" content="John Doe">
    <meta name="description" content="This short description describes my website.">
    <meta name="page-topic" content="Media">
    <meta name="page-type" content="Blogging">
    <meta name="audience" content="Everyone">-->
</head>

<body class="obscure">


<main class="col">
    <hr class='hidHr'>
    
    
    <div class="flex col center centerAlign card col80">
        <hr class='hidHr'>
        <hr class='hidHr'>
        <div class="flex row evenly centerAlign col100">
            <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
                <button type="submit" class="item-button">Delete Blog</button>
            </form>
            
            <%// if (user !== undefined && wholeBlog.author !== null) { %>
                <a href="/blogs/<%= blog.id %>/edit" class="item-button" >EDIT BLOG</a>
            <%// } %>
                
            <a href="/blogs">BACK TO ALL ARTICLES</a>
        </div>

        <hr class='hidHr'>

        <div class="panel col100">
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <hr class='hidHr'>
            <div class="flex col center centerAlign">
                <div class="col80">
                    <hr class='hidHr'>
                    <h1 class="picHeading"><%= blog.title %></h1>
                </div>
            </div>
            <hr>
            <hr class='hidHr'>
            <hr class='hidHr'>
        </div>

        <div class="flex row evenly col100">
            <div class="flex col center centerAlign">
                <p>Written by</p>
                <h5><%= blog.author %></h5>
            </div>
            <div class="flex col center centerAlign">
                <p>Published</p>
                <h5><%= blog.createdAt %></h5>
            </div>
        </div>

        <div class="flex col col90 center centerAlign textLeft">
            <hr class='hidHr'>
            <%- blog.markdown %>
            
            <hr class='hidHr'>
        </div>
        
    </div>

    <!--COMMENT ENTRY-->
    <div class="flex col card">
        <h2>Enter Comment</h2>
        <hr>
        <hr class='hidHr'>
        <form class="flex col" action="/comments/<%=blog.id %>/comments" method="POST">
            <div>
                <textarea class='col80' name="content" cols="91" rows="10" placeholder="Add comments here..." required maxlength="190"></textarea>
            </div>
            <div>
                <button type="submit">Post</button>
            </div>
        </form>
    </div>
    
    <!--THE COMMENTS-->
    <div class="flex col center centerAlign col100">
        <h2>Comments</h2>
        <hr>
        <hr class='hidHr'>
        <div class="flex col card center centerAlign col75">
            <% if (blog.comments !== undefined) { %>   
                <% blog.comments.forEach(comment => { %>
                <div class="flex row col100">
                    <div class="flex col center centerAlign col100">
                        <hr class='hidHr'>
                        <p> <%= comment.author? comment.author : 'Fred' %> on <%= comment.createdAt.toLocaleDateString() %></p>
                        <div class="flex col row centerAlign card col80">
                            <hr class='hidHr'>
                            <p><%= comment.content %></p>
                            <hr class='hidHr'>
                        </div>
                    </div>
                    
                    <% if (blog != null) { %> 
                        <% //if (blog.role === 'Admin') { %>
                            <form class="flex row center centerAlign col33" action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="item-button">Delete</button>
                            </form>
                        <%// } %>
                    <% } %>
                </div>
                <% }) %>
            <% } %>
        </div>
    </div>


</main>
<hr class='hidHr'>
<hr class='hidHr'>
</body>

</html>