<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
  <%- include('../partials/head-content') %>
  <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
  <meta name="author" content="John Doe">
  <meta name="publisher" content="John Doe">
  <meta name="copyright" content="John Doe">
  <meta name="description" content="This short description describes my website.">
  <meta name="page-topic" content="Media">
  <meta name="page-type" content="Blogging">
  <meta name="audience" content="Everyone">-->
</head>

<body>
  <h1>Edit Todo</h1>
  <form action="/todos/<%= todo.id %>?_method=PUT" method="POST" autocomplete="off">
		<input name='id' type='hidden' value='<%= todo.id %>'>
		<input type='text' name='todo' value='<%= todo.todo %>'>	
		<label for='todo'>Name</label>
		<input type='checkbox' name='done' <%= todo.done ? 'checked' : '' %> >
		<label for='done'>Done?</label>
    <button type="submit">Edit Todo</button>
  </form>

	
	<%- include('../partials/footer') %>
</body>