<!DOCTYPE html>
<html lang="en" class="sl-theme-dark">
<head>
  <%- include('../partials/head-content') %>
  <!--<meta name="keywords" content="website, blog, foo, bar"> TODO: add metadata for site
  <meta name="author" content="John Doe">
  <meta name="publisher" content="John Doe">
  <meta name="copyright" content="John Doe">
  <meta name="description" content="This short description describes my website.">
  <meta name="page-topic" content="Media">
  <meta name="page-type" content="Blogging">
  <meta name="audience" content="Everyone">-->
</head>

<body>
  <h1>Todos</h1>
  <ul>
	 	<% todos.forEach(function(t) { %>
			<li>
				<a href="/todos/<%= t.id %>"><%= t.todo %></a>
				- 
			 	<%= t.done ? 'done' : 'not done' %>
				<form action="/todos/<%= t.id %>?_method=DELETE" class="delete-form" method="POST">
      		<button type="submit">X</button>
    		</form>
				<a href="/todos/<%=t.id%>/edit">Edit To-Do</a>
			</li>
	  <% }); %>
  </ul>
	<hr class='hidHr'>
	<hr>
	<hr class='hidHr'>
	<h1>New Todo</h1>
	<form action="/todos" method="POST" autocomplete="off">
		<input type="text" name="todo">
		<button type="submit">Save Todo</button>
	</form>
			
	<%- include('../partials/footer') %>
</body>